*.o
Makefile
autom4te.cache/
config.h
config.h.in~
config.log
config.status
configuration-file/Makefile
configuration-file/pure-config.pl
configuration-file/pure-config.py
configuration-file/pure-ftpd.conf
contrib/Makefile
examples/extended_authorization/Makefile
gui/Makefile
m4/Makefile
man/Makefile
pam/Makefile
puredb/Makefile
puredb/src/.deps/
puredb/src/Makefile
puredb/src/example_read
puredb/src/example_write
puredb/src/libpuredb_read.a
puredb/src/libpuredb_write.a
puredb/src/regression
src/.deps/
src/Makefile
src/libpureftpd.a
src/ptracetest
src/pure-authd
src/pure-ftpd
src/pure-ftpwho
src/pure-mrtginfo
src/pure-pw
src/pure-pwconvert
src/pure-quotacheck
src/pure-statsdecode
src/pure-uploadscript
stamp-h1
